.auto-complete {
  display: flex column;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  /* TODO: Change */
  max-width: 480px;
}

.input-loader-wrapper {
  position: relative;
}

.query {
  border: none;
  outline: none;
  border-bottom: 2px solid #606060;
  width: 100%;
  font-size: 24px;
  box-sizing: border-box;
}

.query:focus {
  border-color: #3f51b5;
}

.loader {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  border: none;
  border-top: solid 2px #3f51b5;
  border-right: solid 2px #3f51b5;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.suggestion-list {
  display: flex column;
  list-style-type: none;
  width: 100%;
  margin: 16px 0 0 0;
  padding: 0;
}
.suggestion {
  width: 100%;
  font-size: 24px;
  padding: 4px 0;
  text-align: start;
}

.suggestion strong {
  color: #3f51b5;
}

.validation-info {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #d63f3f;
  text-align: start;
}
